.projects{
    padding: 2em 5rem 2rem 5rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300);
html {
  height: 100%;
}
@media (max-width: 32rem) {
  html {
    font-size: 12px;
  }
}
.projects-card-cont{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-top: 4rem;
	flex-wrap: wrap;
	flex: 1 0;
	gap: 6rem;
}

.projects-card {
  display: block;
  position: relative;
  width: 35rem;
  height: 35rem;
  cursor: pointer;
	object-fit: cover;
  border-bottom-right-radius: 10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.projects-card-1{
	background: url(../../Images//Projects/Project1.jpg) no-repeat 100% 50%;
	background-size: 150%;
}
.projects-card-2{
	background: url(../../Images//Projects/Project2.jpg) no-repeat 100% 50%;
	background-size: 150%;
}
.projects-card-3{
	background: url(../../Images//Projects/Project3.jpg) no-repeat 100% 50%;
	background-size: 150%;
}
.projects-card-4{
	background: url(../../Images//Projects/Project4.jpg) no-repeat 100% 50%;
	background-size: 150%;
}
.projects-card:hover{
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.projects-card:hover .projects-card-text{
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(233, 182, 53,.4);
  width: 35rem;
  letter-spacing: 1rem;
  line-height: 35rem;
  height: 35rem;
  margin-top: -31.5rem;
  margin-left: -22.75rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, .5), letter-spacing 1.5s ease-out;
	border-radius: 0;
  border-bottom-right-radius: 10rem;
}
.projects-card-text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 65%;
  top: 90%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 2rem;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: var(--secondcolor);
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
/* ------------------------------------------------------- */
@media screen and (max-width:515px){
  .projects{
    padding: 2em 2rem 2rem 2rem;
}
.projects-card-text {
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  font-size: 1.5rem;
  transform: rotate(-180deg) translate(-8rem,0rem) rotate(180deg);
}
.projects-card {
  border-bottom-right-radius: 6rem;
}
}
@media screen and (max-width:500px){
.projects-card {
  width: 25rem;
  height: 25rem;
}
.projects-card:hover .projects-card-text{
  width: 25rem;
  line-height: 25rem;
  height: 25rem;
  margin-top: -22.55rem;
  margin-left: -16.2rem;
  border-bottom-right-radius: 6rem;
}
}
@media screen and (max-width:450px){
  .projects-card-text{
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    transform: rotate(-180deg) translate(-7.5rem,.1rem) rotate(180deg);
  }
  /* .projects-card:hover .projects-card-text{
    width: 33rem;
    line-height: 30rem;
    height: 30rem;
    margin-top: -27.05rem;
    margin-left: -21.5rem;
  } */
  }
@media screen and (max-width:412px){
  .projects-card {
    height: 25rem;
  }
  .projects-card-text{
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-size: 1.5rem;
    transform: rotate(-180deg) translate(-7rem,.1rem) rotate(180deg);
  }
  }
  @media screen and (max-width:350px){
    .projects-card {
      width: 20rem;
      height: 20rem;
    }
    .projects-card-1{
      background-size: 200%;
    }
    .projects-card-2{
      background-size: 200%;
    }
    .projects-card-3{
      background-size: 200%;
    }
    .projects-card-4{
      background-size: 200%;
    }
    .projects-card-text{
      width: 7rem;
      height: 7rem;
      line-height: 7rem;
      font-size: 1.5rem;
      transform: rotate(-180deg) translate(-6rem,-1rem) rotate(180deg);
    }
    .projects-card {
      border-bottom-right-radius: 6rem;
    }
    .projects-card:hover .projects-card-text{
      width: 20rem;
      line-height: 20rem;
      height: 20rem;
      margin-top: -18rem;
      margin-left: -12.9rem;
      border-bottom-right-radius: 6rem;
    }
    }
    @media screen and (max-width:300px){
      .projects-card {
        height: 20rem;
      }
    }