.hero{
    padding: 0rem 5rem 0rem 5rem;
}
.hero-about-us-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    gap: 8rem;
}
.hero-about-us-content1, .hero-about-us-content2{
    width: 45%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-about-us-content1{
    position: relative;
    flex: 1;
}
.hero-about-us-content2{
    border-radius: 0rem;
    flex: 1;
}
.img-360-1{
  background-image: url(../../Images//360/large1.png);
}
.img-360-2{
  background-image: url(../../Images//360/small1.png);
}
.img-360-3{
  background-image: url(../../Images//360/large2.png);
}
.img-360-4{
  background-image: url(../../Images//360/small2.png);
}
.img-360-5{
  background-image: url(../../Images//360/large3.png);
}
.img-360-6{
  background-image: url(../../Images//360/small3.png);
}
.img-360-7{
  background-image: url(../../Images//360/large4.png);
}
.img-360-8{
  background-image: url(../../Images//360/small4.png);
}
.img-360-9{
  background-image: url(../../Images//360/large5.png);
}
.img-360-10{
  background-image: url(../../Images//360/small5.png);
}
.img-small-style{
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.img-small-style::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(.8rem);
  transform: rotateX(65deg);
  position: absolute;
  bottom: -10.5rem;
  border-radius: 50%; 
  z-index: -1;
}

/* cards ------------------------------------------- */
.hero-about-us-content1{
    width:100%;
    height:30rem;
    padding:3.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .img-360{
    width:20rem;
    height:20rem;
    border-radius: 50%;
    background-position: 50% 50%;
    display: inline-block;
    background-size: cover;
    position: absolute;
    bottom:-5rem;
    user-select: none; 
  }
  .img-360:nth-child(1){
    left:0;
    bottom:0;
    transform: translate(0,0);
    border-radius: 0;
    width:80%;
    height:37rem;
    box-shadow: none;
    border-top-left-radius: 10rem;
    user-select: none; 
    cursor: col-resize;
  }
  .img-360:nth-child(2){
    left:56%;
    user-select: none; 
  }
  .img-360:nth-child(n+3){
    left:calc(50% + 300px);
    width: 10rem;
    opacity: 0;
    user-select: none; 
  }
  .img-360 .content{
    position: absolute;
    top:45%;
    left:4rem;
    width:24rem;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
    user-select: none; 
  }
  .img-360:nth-child(1) .content{
    display: block;
  }
  .img-360 .name{
    font-size: 2rem;
    color: var(--wightColor);
    font-weight: bold;
    opacity: 0;
    animation:showcontent .5s ease-in-out 1 forwards;
    text-shadow: 0px 0px 19px rgba(0,0,0,0.9);
    user-select: none; 
  }
  .img-360 .des{
    width: 100%;
    color: var(--wightColor);
    margin:20px 0;
    opacity: 0;
    animation:showcontent .5s ease-in-out 0.3s 1 forwards;
    text-shadow: 0px 0px 19px rgba(0,0,0,0.9);
    user-select: none; 

  }
  .img-360-button{
    padding:5px 10px;
    background-color: var(--wightColor);
    border:4px solid var(--wightColor);
    opacity: 0;
    animation:showcontent .5s ease-in-out 0.6s 1 forwards;
    user-select: none;
    box-shadow: 0px 0px 19px rgba(0,0,0,0.9);
    font-weight: 700;
  }
  .img-360-button:hover{
    background-color: transparent;
    box-shadow: 0px 0px 19px rgba(0,0,0,0.1);
    cursor: pointer;
    color: var(--wightColor);
    text-shadow: 0px 0px 19px rgba(0,0,0,0.9);
  }
  @keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
  }
  /* circles -------------------------------------------- */
  .hor-circle-360{
    border: 2px solid white;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:56%;
    bottom:-5rem;
    transform: scale(1.29) rotateX(65deg);
    pointer-events: none;
}
.ver-circle-360{
    border: 3px solid white;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left:56%;
    bottom:-5rem;
    transform: scale(1.29) rotateY(60deg);
    pointer-events: none;
}
.hor-circle-360-ball, .ver-circle-360-ball{
    width: .5rem;
    height: .5rem;
    background-color: var(--secondcolor);
    border-radius: 50%;
}
.hor-circle-360-ball{
    animation: horSmallBallRotate 7s linear infinite;
}
.ver-circle-360-ball{
    animation: verSmallBallRotate 7s linear infinite;
}
@keyframes horSmallBallRotate { 
  0% { 
      transform: rotate(0deg)  
          translateY(10.1rem) rotate(0deg); 
  } 

  100% { 
      transform: rotate(360deg) 
          translateY(10.1rem) rotate(-360deg);
  } 
} 
@keyframes verSmallBallRotate { 
  0% { 
      transform: rotate(0deg)  
          translateY(10.1rem) rotate(0deg); 
  } 

  100% { 
      transform: rotate(360deg)  
          translateY(10.1rem) rotate(-360deg); 
  } 
} 


.hero-about-us-content2{
    justify-content: start;
    align-items: start;
    color: var(--wightColor);
    font-family: Poppins,Droid Arabic Kufi,Arial,sans-serif;
    flex-direction: column;
    line-height: 2.6rem;
    gap: 3rem;
}
.hero-about-us-content2-text1 {
    width: 100%;
    text-align: justify;
    font-size: 1.6rem;
}
.hero-about-us-content2-text2 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 100;
}

  .Know-more-bottom-ch {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .Know-more-bottom-ch {
    color: var(--secondcolor);
  }
  .Know-more-bottom-ch::after, .Know-more-bottom-ch::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .Know-more-bottom-ch::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--secondcolor);
    border-right-color: var(--secondcolor);
  }
  .Know-more-bottom-ch::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--secondcolor);
    border-left-color: var(--secondcolor);
  }
  .Know-more-bottom-ch:hover:after, .Know-more-bottom-ch:hover:before {
    border-bottom-color: var(--secondcolor);
    border-right-color: var(--secondcolor);
    border-top-color: var(--secondcolor);
    border-left-color: var(--secondcolor);
    width: 100%;
    height: 100%;
  }
  /* Responsive ------------------------------------------- */
  @media screen and (max-width:900px) {
    .hero-about-us-container{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 2rem;
        gap: 2rem;
    }
    .hero-about-us-content1, .hero-about-us-content2{
        width: 100%;
        flex: none;
    }
    .hero-about-us-content1{
      width: 90%;
    }
    .img-360:nth-child(2){
      left:53%;
    }
    .hor-circle-360{
      left:53%;
      width: 19rem;
      height: 19rem;
  }
    .ver-circle-360{
      left:53%;
      width: 19rem;
      height: 19rem;
  }

    @keyframes horSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(9.5rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg) 
                translateY(9.6rem) rotate(-360deg);
        } 
    } 
    @keyframes verSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(9.6rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg)  
                translateY(9.6rem) rotate(-360deg); 
        } 
    } 
  }
  @media screen and (max-width:515px){
    .hero{
        padding: 4rem 2rem 0rem 2rem;
    }
    .hero-about-us-content2{
        gap: 2rem;
    }
    .hero-about-us-content2-text1 {
        width: 100%;
        font-size: 1.2rem;
    }
    .hero-about-us-content2-text2 {
        width: 100%;
        font-size: 1rem;
    }
    .Know-more-bottom-ch{
        font-size: 1rem;
    }
    .hero-about-us-content1{
      width: 80%;
    }
    .img-360:nth-child(1){
      height:32rem;
    }
    .img-360:nth-child(2){
      width: 16rem;
      height: 16rem;
      left: 50%;
    }
    .hor-circle-360{
      left:50%;
      width: 15rem;
      height: 15rem;
  }
    .ver-circle-360{
      left:50%;
      width: 15rem;
      height: 15rem;
  }
  @keyframes horSmallBallRotate { 
    0% { 
        transform: rotate(0deg)  
            translateY(7.48rem) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg) 
            translateY(7.48rem) rotate(-360deg);
    } 
} 
@keyframes verSmallBallRotate { 
    0% { 
        transform: rotate(0deg)  
            translateY(7.48rem) rotate(0deg); 
    } 
    100% { 
        transform: rotate(360deg)  
            translateY(7.48rem) rotate(-360deg); 
    } 
} 
.img-360:nth-child(1) .content{
  display: none;
}
}
  @media screen and (max-width:420px){
    .hero-circle-360{
        width: 12rem;
        height: 12rem;
    }
    .hero-about-us-content1{
      height:20rem;
    }
    .img-360:nth-child(1){
      width: 80%;
      height: 28rem;
    }
    .img-360:nth-child(2){
      width: 13rem;
      height: 13rem;
      left: 48%;
    }
    .hor-circle-360{
        width: 13rem;
        height: 13rem;
        left: 48%;
      }
    .ver-circle-360{
        width: 13rem;
        height: 13rem;
        left: 48%;
      }
    @keyframes horSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(6.5rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg) 
                translateY(6.5rem) rotate(-360deg);
        } 
    } 
    @keyframes verSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(6.5rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg)  
                translateY(6.5rem) rotate(-360deg); 
        } 
    } 
  }
  @media screen and (max-width:350px){
    .hero-about-us-content2-text1 {
        width: 100%;
        font-size: 1rem;
    }
    .hero-about-us-content2-text2 {
        width: 100%;
        font-size: .8rem;
    }
    .hero-about-us-content1{
      height:18rem;
    }
    .img-360:nth-child(1){
      width: 80%;
      height: 25rem;
    }
    .img-360:nth-child(2){
      width: 11rem;
      height: 11rem;
      left: 48%;
    }
    .hor-circle-360{
        width: 11rem;
        height: 11rem;
        left: 48%;
      }
    .ver-circle-360{
        width: 11rem;
        height: 11rem;
        left: 48%;
      }
    @keyframes horSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(5.6rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg) 
                translateY(5.6rem) rotate(-360deg);
        } 
    } 
    @keyframes verSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(5.6rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg)  
                translateY(5.6rem) rotate(-360deg); 
        } 
    } 
  }
