.hero{
    padding: 0em 5rem 0rem 5rem;
}
.hero-about-us-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}
.hero-about-us-content1, .hero-about-us-content2{
    width: 45%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-about-us-content1{
    border-top-left-radius: 10rem;
    position: relative;
    width: 35%;
}
.hero-about-us-content2{
    border-radius: 0rem;
}
.hero-circle-360{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -10rem;
    bottom: -4rem;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
.small-img-360{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hor-circle-360{
    border: 2px solid white;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(70deg);
}
.ver-circle-360{
    border: 3px solid white;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(65deg);
}
.hor-circle-360-ball, .ver-circle-360-ball{
    width: .5rem;
    height: .5rem;
    background-color: var(--secondcolor);
    border-radius: 50%;
}
.hor-circle-360-ball{
    animation: horSmallBallRotate 7s linear infinite;
}
.ver-circle-360-ball{
    animation: verSmallBallRotate 7s linear infinite;
}
@keyframes horSmallBallRotate { 
    0% { 
        transform: rotate(0deg)  
            translateY(13rem) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg) 
            translateY(13rem) rotate(-360deg);
    } 
} 
@keyframes verSmallBallRotate { 
    0% { 
        transform: rotate(0deg)  
            translateY(13rem) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
            translateY(13rem) rotate(-360deg); 
    } 
} 
.small-img-360-shadow{
    width: 10%;
    height: 10%;
    background-color: rgb(0, 0, 0, .2);
    position: absolute;
    border-radius: 50%;
    bottom: -3rem;
    transform: rotateX(80deg);
    box-shadow: 0px 0px 118px 22px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 118px 22px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 118px 22px rgba(0,0,0,0.8);
}
.large-img-360{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10rem;
}
.hero-about-us-content2{
    justify-content: start;
    align-items: start;
    color: var(--wightColor);
    font-family: Poppins,Droid Arabic Kufi,Arial,sans-serif;
    flex-direction: column;
    line-height: 2.6rem;
    gap: 3rem;
}
.hero-about-us-content2-text1 {
    width: 100%;
    text-align: justify;
    font-size: 1.6rem;
}
.hero-about-us-content2-text2 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 100;
}

  .Know-more-bottom-ch {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .Know-more-bottom-ch {
    color: var(--secondcolor);
  }
  .Know-more-bottom-ch::after, .Know-more-bottom-ch::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .Know-more-bottom-ch::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: var(--secondcolor);
    border-right-color: var(--secondcolor);
  }
  .Know-more-bottom-ch::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: var(--secondcolor);
    border-left-color: var(--secondcolor);
  }
  .Know-more-bottom-ch:hover:after, .Know-more-bottom-ch:hover:before {
    border-bottom-color: var(--secondcolor);
    border-right-color: var(--secondcolor);
    border-top-color: var(--secondcolor);
    border-left-color: var(--secondcolor);
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width:900px) {
    .hero-about-us-container{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 2rem;
    }
    .hero-about-us-content1, .hero-about-us-content2{
        width: 100%;
    }
    .hero-about-us-content1{
        width: 90%;
        margin-top: 5rem;
    }
    .hero-circle-360{
        width: 15rem;
        height: 15rem;
        right: -1.5rem;
        bottom: -3rem;
    }
    .hor-circle-360{
        width: 19rem;
        height: 19rem;
    }
    .ver-circle-360{
        width: 19rem;
        height: 19rem;
    }
    @keyframes horSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(9.5rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg) 
                translateY(9.5rem) rotate(-360deg);
        } 
    } 
    @keyframes verSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(9.5rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg)  
                translateY(9.5rem) rotate(-360deg); 
        } 
    } 
  }
  @media screen and (max-width:515px){
    .hero{
        padding: 4rem 2rem 0rem 2rem;
    }
    .hero-about-us-content2{
        gap: 2rem;
    }
    .hero-about-us-content2-text1 {
        width: 100%;
        font-size: 1.2rem;
    }
    .hero-about-us-content2-text2 {
        width: 100%;
        font-size: 1rem;
    }
    .Know-more-bottom-ch{
        font-size: 1rem;
    }
  }
  @media screen and (max-width:420px){
    .hero-circle-360{
        width: 12rem;
        height: 12rem;
    }
    .hor-circle-360{
        width: 14rem;
        height: 14rem;
    }
    .ver-circle-360{
        width: 14rem;
        height: 14rem;
    }
    @keyframes horSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(7rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg) 
                translateY(7rem) rotate(-360deg);
        } 
    } 
    @keyframes verSmallBallRotate { 
        0% { 
            transform: rotate(0deg)  
                translateY(7rem) rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg)  
                translateY(7rem) rotate(-360deg); 
        } 
    } 
  }
  @media screen and (max-width:350px){
    .hero-about-us-content2-text1 {
        width: 100%;
        font-size: 1rem;
    }
    .hero-about-us-content2-text2 {
        width: 100%;
        font-size: .8rem;
    }
  }
