.html{
  overflow: hidden;
}
body{
  overflow-x: hidden;
}
:root{
  --mainwidth:85%;
  --secondarywidth:83%;
  --maincolor:rgba(66, 66, 66, 0.35);
  --secondcolor:#ebb838;
  --thirdcolor: rgba(68 ,70 ,84 ,0.7);
}