.html{
  overflow: hidden;
}
body{
  overflow-x: hidden;
}
:root{
  --mainwidth:85%;
  --secondarywidth:83%;
  --maincolor:rgba(0, 0, 0, 0.25);
  --secondcolor:#ebb838;
  --thirdcolor: rgba(10, 10, 10, 0.8);
}