.html{
  overflow: hidden;
}
body{
  overflow-x: hidden;
}
:root{
  --mainwidth:85%;
  --secondarywidth:83%;
  --maincolor:rgba(0, 0, 0, 0.25);
  --secondcolor:rgb(233, 182, 53);
  --thirdcolor: rgba(10, 10, 10, 0.8);
  --forthcolor:rgba(233, 182, 53, 0.6);
  --fifthcolor: rgba(10, 10, 10, 0.7);
  --wightColor:rgb(226,226,225);
  --Backgroundcolor: rgb(44,51,57);
}