.tail-container{
    padding: 2rem 5rem 2rem 5rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40rem;
    background-color: var(--TailColor);
    box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5) inset;
    -webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5) inset;
    -moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.5) inset;
    gap:2rem;
}
.tail-container-det{
    margin-top: 4rem;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;

}
.tail-container-det1{
    flex: 1.4;
}
.tail-container-det2{
    flex: 1;
}
.tail-container-det3{
    flex: 1;
}
.tail-container-det4{
    flex: 1.4;
}
.copyright{
    background-color: var(--copyRight);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--wightColor);
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.tail-container-det-title{
    color: rgb(168, 168, 168);
    font-weight: 700;
    font-size: 2rem;
}
.tail-container-det-dis{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.tail-container-det-dis-text{
    color: var(--textColor);
    font-weight: 700;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.tail-container-det-dis-text:hover{
    color: rgba(143, 143, 143,1);
    cursor: pointer;
}