/* Navbar properties -------------------------------------------------- */
.nav-scroll-up, .nav-scroll-down{
    background-color: var(--maincolor);
    height: 4.5rem;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.nav-scroll-down{
    transition-duration: 0.5s;
    background-color: var(--thirdcolor);
    box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset;
    -webkit-box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset; 
    padding: 0.6rem 0 1rem 0;
}
/* Fa Icon ------------------------------------------- */
.fa-container{
    margin: auto 0 auto 2rem;
    width: 28%;
    height: 80%;
    display: flex;
}
.fa-text{
    position: absolute;
    bottom: -1rem;
    left: .5rem;
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
    font-size: 1.1rem;
}
.fa-text-o{
    display: none;
}
.fa-close{
    display: none;
}
.fa-close-o{
    position: absolute;
    bottom: -1rem;
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
}
.fa-icon-close:hover > .fa-text,
.fa-icon-open:hover > .fa-text{
    opacity: 0;
    transition-duration: 1s;
}
.fa-icon-close:hover > .fa-close-o,
.fa-icon-open:hover > .fa-close-o{
    opacity: 0;
    transition-duration: 1s;
}
/* fa list close -----------------------------------*/
.fa-icon-close, .fa-icon-open{
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    margin: auto 0 auto 0;
}
.fa-icon-close:hover, .fa-icon-open:hover {
    cursor: pointer;
}
.fa-icon-close:hover > .fa1-close, 
.fa-icon-close:hover > .fa2-close, 
.fa-icon-close:hover > .fa3-close,
.fa-icon-open:hover > .fa1-close, 
.fa-icon-open:hover > .fa2-close, 
.fa-icon-open:hover > .fa3-close
.fa-icon-close:hover > .fa1-open, 
.fa-icon-close:hover > .fa2-open, 
.fa-icon-close:hover > .fa3-open,
.fa-icon-open:hover > .fa1-open, 
.fa-icon-open:hover > .fa2-open, 
.fa-icon-open:hover > .fa3-open {
    background-color: var(--secondcolor);
    }

.fa1-close, 
.fa2-close, 
.fa3-close, 
.fa1-open, 
.fa2-open, 
.fa3-open{
    background-color: var(--wightColor);
    height: .31rem;
    width: 3.5rem;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-duration: 1.5s;
}
.fa1-close{
    animation: faAnimation1 1.5s linear infinite;
    animation-delay: .8s;
    top: 14.2%;
    transition-duration: 1s;
}
.fa2-close{
    animation: faAnimation2 2s linear infinite;
    animation-delay: 1.3s;
    top: 42.6%;
    transition-duration: 1s;
}
.fa3-close{
    animation: faAnimation1 1.5s linear infinite;
    animation-delay: .8s;
    top: 71%;
    transition-duration: 1s;
}

    @keyframes faAnimation1 {
        0%, 100%{
            width: 3.5rem;
        }
        50%{
            width: 2rem;
        }
    }
    @keyframes faAnimation2 {
        0%, 100%{
            width: 3.5rem;
        }
        50%{
            width: 2rem;
        }
    }
.list-close{
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: black;
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
}
.circle-close, .circle-open{
    background-color:transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.7rem;
    left: 1.5rem;
    background-color: rgba(44, 51, 56, 0.9);
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
}
.circle-close{
    transform: scale(0);
}
/* fa list open ------------------------------------*/
.circle-open{
    transform: scale(70);
}
.fa2-open{
    width: 0;
    top: 42.6%;
    transition-duration: 1s;
}
.fa1-open, .fa3-open{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fa1-open{
    transform: rotate(45deg);
    width: 2.8rem;
    top: 50%;
    transition-duration: 1s;
}
.fa3-open{
    transform: rotate(-45deg);
    width: 2.8rem;
    top: 50%;
    transition-duration: 1s;
}
.fa1-open, .fa2-open, .fa3-open{
    animation-play-state: paused;
}
/* Logo --------------------------------------------- */
.nav-logo-cont{
    width: 10rem;
    height: 100%;
    position: relative;
}
.nav-logo-cont .go-main-text{
    position:absolute;
    width:120px;
    background-color:rgba(0, 0, 0, 0.3);
    color:#fff;
    text-align:center;
    padding:5px 0;
    z-index:1;
    border-radius:6px;
    bottom:-2.5rem;
    left:50%;
    margin-left:-60px;
    opacity:0;
    transition:opacity 3s;
    visibility:hidden;
    transition-duration: 1s;
    font-family: 'Trebuchet MS', sans-serif;
}
.nav-logo-cont .go-main-text ::after{
    position:absolute;
    content:"";
    border-style:solid;
    border-width:5px;
    border-color: black transparent  transparent transparent;
    top:100%;
    left:50%;
    margin-left:-5px;
    transition-duration: 1s;
}
    .nav-logo-cont:hover .go-main-text{
        visibility:visible;
        opacity:1;
        transition-duration: 1s;
    }
.Nav-Logo{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}
.nav-logo-parts{
    position: absolute;
}
.nav-logo-part1{
    width: 48%;
    left: 10%;
    animation: part1Animation 1.2s linear;
}
.part2-parent{
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: auto;
    transform: scaleX(1);
    margin: 1.6rem 0 0 2.4rem;
}
.nav-logo-part2{
    width: 5.8rem;
    height: auto;
    margin: auto;
    display: block;
    animation: part2Animation 1.2s linear;
}
.nav-logo-part3{
    width: 10%;
    top: 70%;
    right: 15%;
    animation: part3Animation 1.8s linear ;
}
@keyframes part1Animation {
    0%{
        left:28%;
    }
    50%{
        left: 28%;
    }
    100%{
        left: 5%;
    }
}
@keyframes part2Animation {
    0%{
        transform: scaleX(0);
        opacity: .3;
    }
    50%{
        transform: scaleX(0);
        opacity: .3;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes part3Animation {
    0%{
        right: 24.2%;
        transform: scale(1.8);
    }
    33.3%{
        right: 24.2%;
        transform: scale(1.8);
    }
    66.6%{
        right: 5%;
        transform: scale(1.8);
    }
    100%{
        right: 15.5%;
        transform: scale(1);
    }
}
.nav-logo-part1-close{
    width: 48%;
    left: 28%;
}
.nav-logo-part2-close{
    display: none;
}
.nav-logo-part3-close{
    width: 9%;
    top: 63.5%;
    right: 24.2%;
    transform: scale(1.8);
    animation: part3AnimationClose 1.5s linear infinite;
    animation-delay: 0.3s;
}
@keyframes part3AnimationClose {
    0%, 100% {
        top: 63.5%;
    }
    25%, 75% {
        top: 35%;
    }
    50%{
        top: 50%;
    }
}
/* Languages Icon ------------------------------------- */
.right-container{
    width: 28%;
    height: 80%;
    margin: auto 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages-icon-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4.4rem;
    padding-top: .1rem;
    margin: auto 0 auto 3rem;
}
.english-language{
    display: none;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
}
.arabic-language{
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
    display: flex;
}
.english-language-o{
    display: flex;
    color: var(--wightColor);
}
.arabic-language-o{
    display: none;
    color: var(--wightColor);
}
.languages-icon{
    fill: var(--wightColor);
    width: 3.2rem;
    height: 3.2rem;
    transition-duration: 1s;
    margin-bottom: .1rem;
}
.languages-icon:hover{
    animation: ballRotate 1s linear infinite;
    fill: var(--secondcolor);
    transition-duration: 1s;
    cursor: pointer;
}
@keyframes ballRotate {
    0%, 100% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}
.language-clicked, .language-clicked:hover{
    animation: ballRotateAction 1s linear;
}
@keyframes ballRotateAction {
    0%{
        transform: scale(2);
        transform: rotate(20deg);
    }
    100%{
        transform: scale(1);
        transform: rotate(200deg);
    }
}
.right-container-ch1-down{
    display: none;
}
/* Contact Icon -------------------------------------------------- */
.contact-icon-cont{
    width: 4.8rem;
    height: 4.4rem;
    margin: auto auto auto 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-top: .1rem;
}
.contact-icon{
    width: 3.1rem;
    height: 3.1rem;
    fill: var(--wightColor);
}
.contact-icon:hover{
    fill: var(--secondcolor);
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.15);
    margin-top: .4rem;
}
.contact-icon-text{
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
}
.contact-icon:hover ~ .contact-icon-text{
    display: none;
}
/* categories icon ----------------------------------------------- */
.categories-icon-cont{
    width: 4.8rem;
    height: 4.4rem;
    margin: auto 2.5rem auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    overflow: auto;
    padding-top: .1rem;
}
.categories-icon-cont:hover{
    height: 4.6rem;
    transition-duration: 1s;
}
.categories-icon-text, .categories-icon-text-o{
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
    display: flex;
}
.categories-icon{
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
}
.categories-icon:hover{
    cursor: pointer;
}
.categories-all, .categories-all-o{
    width: 8%;
    height: 8%;
    border: .3rem solid transparent;
    border-radius: .1rem;
    box-shadow: 0 0 0 .25rem var(--wightColor);
    position: absolute;
    transition-duration: .5s;
    transition-delay: .3s;
}
.categories-all-o{
    width: 0;
    height: 0;
    transition-duration: 1s;
    box-shadow:none
}
.categories-icon-1{
    left: .2rem;
    top: .2rem;
}
.categories-icon-2{
    right: .2rem;
    top: .2rem;
}
.categories-icon-3{
    left: .2rem;
    bottom: .2rem;
}
.categories-icon-4{
    right: .2rem;
    bottom: .2rem;
}
.categories-icon:hover > .categories-all {
    box-shadow: 0 0 0 .25rem var(--secondcolor);
    transition-duration: 1s;
    font-size: large;
}
.categories-icon:hover ~ .categories-icon-text{
    display: none;
}
.categories-icon:hover{
    margin-top: .2rem;
    transform: scale(1.1);
    transition-duration: 1s;
}
/* categories click ------------------------------------------ */
.categories-icon-close, .categories-icon-close-o{
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--wightColor);
    display: none;
}
.categories-close-icon-x-1, .categories-close-icon-x-2, .categories-close-icon-x-1-o, .categories-close-icon-x-2-o{
    width: 2.8rem;
    height: .3rem;
    background-color: var(--wightColor);
    display: flex;
    margin: auto;
    border-radius: .5rem;
    position: absolute;
    top: 44%;
    opacity: 0;
}
.categories-close-icon-x-1, .categories-close-icon-x-1-o{
    transform: rotate(45deg);
}
.categories-close-icon-x-2, .categories-close-icon-x-2-o{
    transform: rotate(135deg);
}
.categories-icon:hover > .categories-close-icon-x-1,
.categories-icon:hover > .categories-close-icon-x-2, 
.categories-icon:hover > .categories-close-icon-x-1-o, 
.categories-icon:hover > .categories-close-icon-x-2-o {
    background-color: var(--secondcolor);
    transition-duration: 1s;
}
.categories-icon:hover ~ .categories-icon-close-o,
.categories-icon:hover ~ .categories-icon-close {
    display: none;
}
.categories-close-icon-x-1-o{
    opacity: 1;
    transition-duration: 2s;
}
.categories-close-icon-x-2-o{
    opacity: 1;
    transition-duration: 2s;
}
.categories-icon-text-o{
    display: none;
}
.categories-icon-close-o{
    display: flex;
}
.categories-icon-circle, .categories-icon-circle-o{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    top: -7rem;
    transform: scale(0);
    transition-duration: 1s;
    opacity: 0;
}
.categories-icon-circle-o{
    transform: scale(1);
    top: 8rem;
    animation: categoriesCircleOpen 1s linear;
    opacity: 1;
}
@keyframes categoriesCircleOpen {
    0%{
        transform: scale(0);
        top: -7rem;
        opacity: 0;
    }
    100%{
        top: 8rem;
        transform: scale(1);
        opacity: 1;
    }
}
.cat-circle-all, .cat-circle-all-o{
    width: 3.9rem;
    height: 3.9rem;
    position: absolute;
    border-radius: 1rem;
    border: .3rem solid var(--wightColor);
    transition-duration: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 1px 2px 77px 28px rgba(0,0,0,.1);
    -webkit-box-shadow: 1px 2px 77px 28px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 77px 28px rgba(0,0,0,.1); */
}
.cat-circle-all{
    border-radius: .1rem;
    width: .5rem;
    height: .5rem;
    transition-duration: .5s;
    border: .3rem solid var(--secondcolor);
}
.furniture-box{
    left: 5rem;
    top: 0;
}
.Appliances-box{
    left: 0;
    top: 3rem;
}
.Ceramics-box{
    right: 0;
    top: 3rem;
}
.Sanitary-box{
    right: 5rem;
    top: 0;
}
.Sockets-box{
    bottom: -1rem;
    left: 5rem;
}
.GYM-box{
    bottom: -1rem;
    right: 5rem;
}
.Doors-box{
    bottom: 2rem;
    left: 0;
}
.Fit-out-box{
    bottom: 2rem;
    right: 0;
}
.Marble-box{
    left: -1.5rem;
    top: calc(50% - 1.8rem);
}
.Curtains-box{
    right: -1.5rem;
    top: calc(50% - 1.8rem);
}
.cat-icon{
    width: 2rem;
    height: 2rem;
    fill: var(--wightColor);
    color: var(--wightColor);
}
.cat-text{
    font-size: .75rem;
    color: var(--wightColor);
    font-family: 'Trebuchet MS', sans-serif;
}
.cat-circle-all:hover, .cat-circle-all-o:hover{
    cursor: pointer;
}
.cat-circle-all-o:hover > .cat-icon,
.cat-circle-all-o:hover > .cat-text{
    color: var(--secondcolor);
    fill: var(--secondcolor);
    transition-duration: 1s;
    transform: scale(1.1);
}
.blur-filter{
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
/* Home Page button --------------------------------------------- */
.home-page-cont-cont, .home-page-cont-cont-down{
    position: absolute;
    top: 7.6rem;
    left: 0;
    transition-duration: 0.5s;
}
.home-page-cont-cont-down{
    top: 6.1rem;
}
.home-page-cont-o, .home-page-cont{
    position: fixed;
    width: 15rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 1rem;
    z-index: -1;
    background-color: var(--maincolor);
    gap: .4rem;
    font-size: 1.5rem;
    overflow: hidden;
    transition-duration: 1s;
}
.home-page-cont{
    height: 0;
    transition-duration: 1s;
}
.home-page-cont:hover, .home-page-cont-o:hover{
    background-color: var(--thirdcolor);
    cursor: pointer;
}
.home-page-text{
    color: var(--wightColor);
    font-family: 'Trebuchet MS', sans-serif;
}
.home-page-icon{
    fill: var(--wightColor);
}