/* Navbar properties -------------------------------------------------- */
.nav-scroll-up, .nav-scroll-down{
    background-color: var(--maincolor);
    height: 4.5rem;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.nav-scroll-down{
    transition-duration: 0.5s;
    background-color: var(--thirdcolor);
    box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset;
    -webkit-box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset;
    -moz-box-shadow: -3px -200px 74px -165px rgba(255,255,255,0.1) inset; 
    padding: 0.6rem 0;
}
/* Fa Icon ------------------------------------------- */
.fa-container{
    margin: auto 0 auto 2rem;
    width: 23%;
    height: 80%;
    display: flex;
}
/* fa list close -----------------------------------*/
.fa-icon-close, .fa-icon-open{
    width: 4rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    margin: auto 0 auto 0;
}
.fa-icon-close:hover, .fa-icon-open:hover {
    cursor: pointer;
}
.fa-icon-close:hover > .fa1-close, 
.fa-icon-close:hover > .fa2-close, 
.fa-icon-close:hover > .fa3-close,
.fa-icon-open:hover > .fa1-close, 
.fa-icon-open:hover > .fa2-close, 
.fa-icon-open:hover > .fa3-close
.fa-icon-close:hover > .fa1-open, 
.fa-icon-close:hover > .fa2-open, 
.fa-icon-close:hover > .fa3-open,
.fa-icon-open:hover > .fa1-open, 
.fa-icon-open:hover > .fa2-open, 
.fa-icon-open:hover > .fa3-open {
    background-color: var(--secondcolor);
    }

.fa1-close, 
.fa2-close, 
.fa3-close, 
.fa1-open, 
.fa2-open, 
.fa3-open{
    background-color: var(--wightColor);
    height: .28rem;
    width: 3.5rem;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-duration: 1.5s;
}
.fa1-close{
    animation: faAnimation1 1.5s linear infinite;
    animation-delay: .8s;
    top: 14.2%;
    transition-duration: 1s;
}
.fa2-close{
    animation: faAnimation2 2s linear infinite;
    animation-delay: 1.3s;
    top: 42.6%;
    transition-duration: 1s;
}
.fa3-close{
    animation: faAnimation1 1.5s linear infinite;
    animation-delay: .8s;
    top: 71%;
    transition-duration: 1s;
}

    @keyframes faAnimation1 {
        0%, 100%{
            width: 3.5rem;
        }
        50%{
            width: 2rem;
        }
    }
    @keyframes faAnimation2 {
        0%, 100%{
            width: 3.5rem;
        }
        50%{
            width: 2rem;
        }
    }
.list-close{
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: black;
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
}
.circle-close, .circle-open{
    background-color:transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.7rem;
    left: 1.5rem;
    background-color: rgba(44, 51, 56, 0.9);
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
}
.circle-close{
    transform: scale(0);
}
/* fa list open ------------------------------------*/
.circle-open{
    transform: scale(70);
}
.fa2-open{
    width: 0;
    top: 42.6%;
    transition-duration: 1s;
}
.fa1-open, .fa3-open{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fa1-open{
    transform: rotate(45deg);
    width: 2.8rem;
    top: 50%;
    transition-duration: 1s;
}
.fa3-open{
    transform: rotate(-45deg);
    width: 2.8rem;
    top: 50%;
    transition-duration: 1s;
}
.fa1-open, .fa2-open, .fa3-open{
    animation-play-state: paused;
}
/* Logo --------------------------------------------- */
.Nav-Logo{
    height: 100%;
    width: 10%;
    position: relative;
    display: flex;
}
.nav-logo-parts{
    position: absolute;
}
.nav-logo-part1{
    width: 48%;
    left: 10%;
    animation: part1Animation 1.2s linear;
}
.part2-parent{
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: auto;
    transform: scaleX(1);
    margin: 1.6rem 0 0 2.4rem;
}
.nav-logo-part2{
    width: 5.8rem;
    height: auto;
    margin: auto;
    display: block;
    animation: part2Animation 1.2s linear;
}
.nav-logo-part3{
    width: 10%;
    top: 70%;
    right: 15%;
    animation: part3Animation 1.8s linear ;
}
@keyframes part1Animation {
    0%{
        left:28%;
    }
    50%{
        left: 28%;
    }
    100%{
        left: 5%;
    }
}
@keyframes part2Animation {
    0%{
        transform: scaleX(0);
        opacity: .3;
    }
    50%{
        transform: scaleX(0);
        opacity: .3;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes part3Animation {
    0%{
        right: 24.2%;
        transform: scale(1.8);
    }
    33.3%{
        right: 24.2%;
        transform: scale(1.8);
    }
    66.6%{
        right: 5%;
        transform: scale(1.8);
    }
    100%{
        right: 15.5%;
        transform: scale(1);
        top: 70%;
    }
}
.nav-logo-part1-close{
    width: 48%;
    left: 28%;
}
.nav-logo-part2-close{
    display: none;
}
.nav-logo-part3-close{
    width: 10%;
    top: 63.5%;
    right: 24.2%;
    transform: scale(1.8);
    animation: part3AnimationClose 1.5s linear infinite;
    animation-delay: 0.3s;
}
@keyframes part3AnimationClose {
    0%, 100% {
        top: 63.5%;
    }
    25%, 75% {
        top: 35%;
    }
    50%{
        top: 50%;
    }
}
/* Right Section ---------------------------------------------- */
.right-container{
    width: 23%;
    height: 80%;
    margin: auto 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container-ch1{
    width: 45%;
    height: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.right-container-ch2{
    width: 45%;
    height: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}
.right-container-ch11, .right-container-ch21{
    width: 50%;
    height: 100%;
    background-color: var(--forthcolor);
    margin-left: 0;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    transition-duration: 1s;
}
.right-container-ch12, .right-container-ch22{
    width: 50%;
    height: 100%;
    margin-right: 0;
    background-color: var(--forthcolor);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    transition-duration: 1s;
}
.right-container-ch1:hover, .right-container-ch2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 43px -5px rgba(235,184,56,0.5);
    -webkit-box-shadow: 0px 0px 43px -5px rgba(235,184,56,0.5);
    -moz-box-shadow: 0px 0px 43px -5px rgba(235,184,56,0.5);
    transition-duration: 1s;
}
.right-container-ch1:hover > .right-container-ch11,
.right-container-ch1:hover > .right-container-ch12,
.right-container-ch2:hover > .right-container-ch21,
.right-container-ch2:hover > .right-container-ch22  {
    width: 0;
    transition-duration: 1s;
}
.right-container-ch1-title, .right-container-ch2-title{
    width: 10.4%;
    height: 2.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border-radius: 2rem;
    position: absolute;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
.right-container-ch1-title:hover, .right-container-ch2-title:hover {
    color: var(--secondcolor);
    transition-duration: 1s;
}*/
/* Languages Icon ------------------------------------- */
.languages-icon{
    fill: var(--wightColor);
    width: 2.8rem;
    height: 2.8rem;
    transition-duration: 1s;
}
.languages-icon:hover{
    animation: ballRotate 2s linear infinite;
    fill: var(--secondcolor);
    transition-duration: 1s;
    cursor: pointer;
}
@keyframes ballRotate {
    0%, 100% {
        transform: rotate(160deg);
    }
    25%, 75% {
        transform: rotate(200deg);
    }
    50%{
        transform: rotate(380deg);
    }
}
.right-container-ch1-down{
    display: none;
}
.contact-icon{
    display: none;
}
.contact-icon-down{
    width: 2.9rem;
    height: 2.9rem;
    margin: auto auto auto 3.5rem;
    fill: var(--wightColor);
}
.contact-icon-down:hover{
    fill: var(--secondcolor);
    cursor: pointer;
    transition-duration: 1s;
}
.right-container-ch2-down{
    display: none;
}
.projects-icon{
    display: none;
}
.projects-icon-down{
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 3.5rem auto auto;
    fill: var(--wightColor);
}
.projects-icon-down:hover{
    fill: var(--secondcolor);
    cursor: pointer;
    transition-duration: 1s;
}
/* .Nav-right{
    width: 6%;
    margin: auto 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.languages {
    color: var(--wightColor);
}
.arrow-icon{
    width: .7rem;
}
.Nav-right:hover > .languages,
.Nav-right:hover > .arrow-icon,
.Nav-right:hover {
    cursor: pointer;
    color: var(--secondcolor);
    fill: var(--secondcolor);
} */
/* .languages:hover, .languages:hover > .arrow-icon
,.arrow-icon:hover, .arrow-icon:hover > .languages {
} */
